.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #272f4a;
    padding: 60px 0 0 0;
    box-shadow: inset 0 0 2px rgb(89, 94, 143);
}
.sidebar a{
    display: block;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a {
    display: block;
    color: #ffffff;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 5px 0 5px 10px;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
}

.sidebar ul li a.active{
    background: #2ec7cb;
    background: -moz-linear-gradient(left, #2ec7cb 0%, #6c8bef 100%);
    background: -webkit-linear-gradient(left, #2ec7cb 0%, #6c8bef 100%);
    background: linear-gradient(to right, #2ec7cb 0%, #6c8bef 100%);
    color: #ffffff;
}