.checkoutContainer{
    margin: 0 auto;
    min-width: 70.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.checkout{
    display: inline-block;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.checkoutPriceDetial{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 23rem;
    margin-left: 1rem;
}
.checkoutStep{
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0.05rem 0.05rem 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
    min-width: 52rem;
}
.checkoutHeader{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
}
.checkoutHeader.active{
    background: #2874f0;
}
.checkoutHeader .stepNumber{
    display: inline-block;
    text-align: center;
    background: #eee;
    color: #2874f0;
    border-radius: 3px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 3px 7px;
}


.checkoutHeader.active .stepNumber{
    background: #fff;
}
.stepTitle{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    margin-left: 15px;
}
.checkoutHeader.active .stepTitle{
    color: #fff;
}

.checkoutPageLogin{
    position: relative;
}

.checkoutPageLoginContainer{
    padding: 26px 20px 18px 50px;
    position: relative;
}

.checkoutPageLoginForm{
    width: 41.66%;
    padding: 0;
}

.checkoutPageLoginFormInput{
    position: relative;
    /* margin-bottom: 1.5rem; */
    font-size: 1rem;
}

.userAggrement{
    color: #878787;
    font-size: 0.75rem;
    font-weight: 400;
}

.checkoutPageLoginButton{
    margin-top: 24px;
}

.loggedInId{
    background-color: #f5faff;
    padding: 1rem 3.5rem;
}

.loggedInIdName{
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 1rem;
}

.loggedInIdEmail{
    font-size: 0.8rem;
    font-weight: 600;
}

.checkoutPageSignup{
    margin-top: 1.5rem;
    display: flex;
}

.checkoutPageSignup span{
    font-size: 0.75rem;
    font-weight: 500;
    color: #878787;
}

.checkoutPageSignup a{
    font-size: 0.75rem;
    font-weight: 500;
    margin-left: 1rem;
    color: rgb(40 116 240);
    cursor: pointer;
}

.loginAdvantages{
    padding-left: 5rem;
    margin-top: 1.25rem;
    font-size: 14px;
    width: 58.33%;
}

.loginAdvantagesContainer{
    color: #878787;
}

.loginAdvantagesList{
    margin: 16px 0;
    color: #212121;
}

.advantagesIcon{
    fill: #2874f0 !important;
    color: #2874f0 !important;
    font-size: 17px;
    margin-right: 12px;
    vertical-align: middle;
}
.addressContainer{
    box-sizing: border-box;
    padding: 20px;
    background: #f5faff;
}
.addressinfo{
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
}
.addressDetail{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: 'Roboto';
    font-size: 12px;
    color: #333;
}
.addressType{
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    background: #eee;
    font-weight: 500;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 2px;
    color: #777777;
}
.fullAddress{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
}
.stepCompleted{
    padding: 0 0 20px 60px;
    font-size: 12px;
}

.orderConfirm{
    padding: 10px 20px;
    align-items: center;
}

.orderConfirm p {
    font-size: 12px;
}