.cartContainer{
    display: flex;
    max-width: 1260px;
    margin: 15px auto;
    justify-content: space-between;
    /* align-items: flex-start; */
}
.placeOrder{
    width: 100%;
    display: flex;
    background: #ffffff;
    justify-content: flex-end;
    box-shadow: 0 0 10px 10px #eee;
    padding: 10px 0;
    box-sizing: border-box;
}

.placeOrder > div{
    width: 250px;
}