.modal-header {
  padding: 5px 15px;
  border-bottom: 1px solid #4a717c;
}
.modal-title {
  font-size: 18px;
}
.modal-content {
  background-color: #272f4a;
  border-radius: 5px !important;
  /* backdrop-filter: blur(10px) !important; */
}

.modalBody .form-control {
  /* font-size: 0.75em !important; */
  /* height: auto !important;
  border: none !important; */
  border: 0px solid rgba(0, 0, 0, 0.5) !important;
  /* border-radius: 5px !important; */
  background-color: rgba(255, 255, 255, 0.2) !important;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  transition: 0.1s all ease-in-out !important; */
  color: #fff;
}

.modalBody .form-control input {
  background-color: transparent !important;
  color: #fff;

  border-color: transparent !important;
}

.modalBody .form-control input:focus {
  border-color: transparent !important;
}

.modalBody .form-control::placeholder,
.modalBody .form-control input::placeholder {
  color: #fff;
}

.modalBody .form-control:-ms-input-placeholder,
.modalBody .form-control input:-ms-input-placeholder {
  color: #fff;
}

.modalBody .form-control::-ms-input-placeholder,
.modalBody .form-control input::-ms-input-placeholder {
  color: #fff;
}

.modalBody .form-control .badge {
  background: linear-gradient(to right, #2ec7cb 0%, #6c8bef 100%);
  color: #ffffff;
  padding-left: 0.6rem;
}

.modalBody .form-control .input-tags:focus{
  border: none !important;
  outline: none !important;
}

.modal-footer{
  border-top: 1px solid #4a717c;
}

.css-1rhbuit-multiValue{
  background: linear-gradient(to right, #2ec7cb 0%, #6c8bef 100%);
  color: #ffffff !important;
  display: inline-block;
  padding: .4em !important;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-
}

.select__control{
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #fff;
  border: none !important;
}

.select__control input:focus{
  border: none !important;
}