.select__control{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff;
    border: none !important;
    color: rgba(39, 39, 39, 0.397);
    background-color: rgb(57, 67, 97)rtant;
  }